In [100]:
import pandas as pd
import mysql.connector

In [101]:
def on_db(base_datos, sql):
    mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database=base_datos
    )

    mycursor = mydb.cursor()
    mycursor.execute(sql)

    if sql == "SHOW TABLES":
        s = []
        for x in mycursor:
            s.append(x[0])
        return s

    if "INSERT INTO" in sql or "DELETE FROM" in sql:
        mydb.commit()
    
    if "SELECT" in sql:
        myresult = mycursor.fetchall()
        return myresult

    if "UPDATE" in sql:
        mydb.commit()
        print(mycursor.rowcount, "record(s) affected")

In [102]:
base_datos = 'vrss_operation_and_managment_subsystem'
sql = 'SHOW TABLES'
on_db(base_datos, sql)

['auth_group',
 'auth_group_permissions',
 'auth_permission',
 'auth_user',
 'auth_user_groups',
 'auth_user_user_permissions',
 'control_misiones_instantaneous_data_info',
 'control_misiones_workmode',
 'django_admin_log',
 'django_content_type',
 'django_migrations',
 'django_session',
 'gestion_personal_guardia',
 'gestion_personal_personal',
 'gestion_personal_vacaciones',
 'protocolos_indice_protocolos',
 'protocolos_mensajeria',
 'protocolos_novedades',
 'test',
 'test2']

In [103]:
archivo = "Instantaneous Data Info.csv"
df = pd.read_csv(archivo)
df

,Satellite,EpochTime,SemiMajorAxis(m),Eccentricity,Inclination(deg),Raan(deg),MeanAnomaly(deg),ArgumentPerigee(deg),OrbitNum,Source,OrbitEphId
0,VRSS-1,04/26/2021 00:02:00,7022417.37,0.001359,97.736316,169.194728,135.349840,197.976622,46229,External,NaN
1,VRSS-2,04/26/2021 00:07:00,7017286.31,0.003004,97.872899,190.894090,308.341369,95.115427,19099,External,NaN
2,VRSS-1,04/27/2021 00:02:00,7011192.91,0.001064,97.739803,170.140809,135.273235,108.747610,46244,External,NaN
3,VRSS-2,04/27/2021 00:07:00,7016303.05,0.003209,97.872008,191.881619,220.021256,94.297524,19114,External,NaN
4,VRSS-1,04/28/2021 00:02:00,7022777.77,0.001259,97.731035,171.104024,352.390200,162.153182,46258,Internal,NaN
...,...,...,...,...,...,...,...,...,...,...,...
851,VRSS-2,07/04/2022 00:07,7006365.00,0.001386,97.736103,253.931223,333.898819,119.365077,25502,External,NaN
852,VRSS-2,07/05/2022 00:07,7024696.52,0.003103,97.726050,254.902536,270.179234,95.199923,25517,External,NaN
853,VRSS-1,07/05/2022 00:02,7009488.71,0.001727,97.578077,223.251710,186.371408,286.059507,52644,External,NaN
854,VRSS-2,07/06/2022 00:07,7006809.60,0.004763,97.736042,255.876305,175.925911,101.536246,25532,External,NaN
855,VRSS-1,07/06/2022 00:02,7022133.81,0.000509,97.570558,224.193570,192.424649,191.686391,52659,External,NaN

In [104]:
col_cabeceras = []
for i in df.columns:
     col_cabeceras.append(i.replace('(', '_').replace(')', ''))
     
col_cabeceras

['Satellite',
 'EpochTime',
 'SemiMajorAxis_m',
 'Eccentricity',
 'Inclination_deg',
 'Raan_deg',
 'MeanAnomaly_deg',
 'ArgumentPerigee_deg',
 'OrbitNum',
 'Source',
 'OrbitEphId']

In [82]:
str_cabeceras_0 = ''

for i in range(len(col_cabeceras)):
     if i < len(col_cabeceras) - 1:
          str_cabeceras_0 = str_cabeceras_0 + '`' + col_cabeceras[i] + '`' + ', '
     if i == len(col_cabeceras) - 1:
          str_cabeceras_0 = str_cabeceras_0 + '`' + col_cabeceras[i] + '`'

cabeceras = '(`id`, ' + str_cabeceras_0 + ')'
cabeceras

'(`id`, `Satellite`, `EpochTime`, `SemiMajorAxis_m`, `Eccentricity`, `Inclination_deg`, `Raan_deg`, `MeanAnomaly_deg`, `ArgumentPerigee_deg`, `OrbitNum`, `Source`, `OrbitEphId`)'

In [109]:
df.iloc[11]

Satellite                         VRSS-2
EpochTime               05/01/2021 00:07
SemiMajorAxis(m)              7017551.83
Eccentricity                    0.002885
Inclination(deg)               97.862028
Raan(deg)                     195.789819
MeanAnomaly(deg)              233.209155
ArgumentPerigee(deg)           85.025044
OrbitNum                           19173
Source                          External
OrbitEphId                           NaN
Name: 11, dtype: object

In [98]:
N_reg = 2
str_registro_0 = ''

for i in range(len(df.iloc[N_reg])):
     if i < len(df.iloc[N_reg]) - 1:
          str_registro_0 = str_registro_0 + "'" + str(df.iloc[N_reg][i]) + "'" + ', '
     if i == len(df.iloc[N_reg]) - 1:
          str_registro_0 = str_registro_0 + "'" + str(df.iloc[N_reg][i]) + "'"

registro = '(NULL, ' + str_registro_0 + ')'
registro

"(NULL, 'VRSS-1', '04/27/2021 00:02:00', '7011192.91', '0.0010644', '97.739803', '170.140809', '135.273235', '108.74761', '46244', 'External', 'nan')"

In [60]:
sql_phpmyadmin = "INSERT INTO `control_misiones_instantaneous_data_info` (`id`, `Satellite`, `EpochTime`, `SemiMajorAxis_m`, `Eccentricity`, `Inclination_deg`, `Raan_deg`, `MeanAnomaly_deg`, `ArgumentPerigee_deg`, `OrbitNum`, `Source`, `OrbitEphI`) VALUES (NULL, 'VRSS-2', '2021-04-26 00:07:00', '7017286.31', '0.003004', '97.872899', '190.89409', '308.341369', '95.115427', '19099', 'External', ' ');"

In [91]:
base_datos = 'vrss_operation_and_managment_subsystem'
tabla = '`control_misiones_instantaneous_data_info`'
sql = "INSERT INTO " + base_datos + "." + tabla + " \
    " + cabeceras + " VALUES \
    " + registro + ";"
# sql
on_db(base_datos, sql)

In [61]:
sql_phpmyadmin

"INSERT INTO `control_misiones_instantaneous_data_info` (`id`, `Satellite`, `EpochTime`, `SemiMajorAxis_m`, `Eccentricity`, `Inclination_deg`, `Raan_deg`, `MeanAnomaly_deg`, `ArgumentPerigee_deg`, `OrbitNum`, `Source`, `OrbitEphI`) VALUES (NULL, 'VRSS-2', '2021-04-26 00:07:00', '7017286.31', '0.003004', '97.872899', '190.89409', '308.341369', '95.115427', '19099', 'External', ' ');"

In [77]:
print(sql == sql_phpmyadmin)

False

In [73]:
on_db(base_datos, sql_phpmyadmin)

In [49]:
cabeceras = "(`Id`, `valor`)"
registro = "(NULL, '0.003004')"

base_datos = 'vrss_operation_and_managment_subsystem'
tabla = 'test2'
sql = "INSERT INTO " + base_datos + "." + tabla + " \
     " + cabeceras + " VALUES \
     " + registro + ";"

on_db(base_datos, sql)

In [15]:
base_datos = 'vrss_operation_and_managment_subsystem'
tabla = 'test2'
sql = "CREATE TABLE " + base_datos + "." + tabla + "(\
  `Id` INT(10) NOT NULL AUTO_INCREMENT , \
  `valor` FLOAT NOT NULL , \
  PRIMARY KEY (`Id`)) ENGINE = InnoDB;\
  )"

# sql
on_db(base_datos, sql)

In [114]:
archivo = "ACM 20220619 - 20220628 (20220706 121303).xlsx"
hoja = 'Instantaneous Data Info'
df = pd.read_excel(archivo, hoja)
df

,Satellite,EpochTime,SemiMajorAxis(m),Eccentricity,Inclination(deg),Raan(deg),MeanAnomaly(deg),ArgumentPerigee(deg),OrbitNum,Source,OrbitEphId
0,VRSS-1,2021-04-26 00:02:00,7022417.37,0.001359,97.736316,169.194728,135.349840,197.976622,46229,External,NaN
1,VRSS-2,2021-04-26 00:07:00,7017286.31,0.003004,97.872899,190.894090,308.341369,95.115427,19099,External,NaN
2,VRSS-1,2021-04-27 00:02:00,7011192.91,0.001064,97.739803,170.140809,135.273235,108.747610,46244,External,NaN
3,VRSS-2,2021-04-27 00:07:00,7016303.05,0.003209,97.872008,191.881619,220.021256,94.297524,19114,External,NaN
4,VRSS-1,2021-04-28 00:02:00,7022777.77,0.001259,97.731035,171.104024,352.390200,162.153182,46258,Internal,NaN
...,...,...,...,...,...,...,...,...,...,...,...
851,VRSS-2,2022-07-04 00:07:00,7006365.00,0.001386,97.736103,253.931223,333.898819,119.365077,25502,External,NaN
852,VRSS-2,2022-07-05 00:07:00,7024696.52,0.003103,97.726050,254.902536,270.179234,95.199923,25517,External,NaN
853,VRSS-1,2022-07-05 00:02:00,7009488.71,0.001727,97.578077,223.251710,186.371408,286.059507,52644,External,NaN
854,VRSS-2,2022-07-06 00:07:00,7006809.60,0.004763,97.736042,255.876305,175.925911,101.536246,25532,External,NaN
855,VRSS-1,2022-07-06 00:02:00,7022133.81,0.000509,97.570558,224.193570,192.424649,191.686391,52659,External,NaN

In [116]:
df.iloc[1]

Satellite                            VRSS-2
EpochTime               2021-04-26 00:07:00
SemiMajorAxis(m)                 7017286.31
Eccentricity                       0.003004
Inclination(deg)                  97.872899
Raan(deg)                         190.89409
MeanAnomaly(deg)                 308.341369
ArgumentPerigee(deg)              95.115427
OrbitNum                              19099
Source                             External
OrbitEphId                              NaN
Name: 1, dtype: object

In [2]:
import xml.etree.ElementTree as ET

In [3]:
directorio = 'C:/Users/Hector Martinez/Downloads/Telegram Desktop/Planes Satelitales  20220619 - 20220621/Plan Satelital 20220619/VRSS-2/'
archivo = 'OMS_SCC_VRSS-2_20220617_000000705105.CPLAN2'
tree = ET.parse(directorio + archivo)
root = tree.getroot()

# El campo raiz o de Nivel 0

In [70]:
print(root.tag)

CPLAN

# Campos de Nivel 1
## Numero de campos Nivel 1

In [71]:
len(root)

2

## Nombres de los campos de Nivel 1

In [90]:
for nivel1 in range(len(root)):
    print(nivel1, root[nivel1].tag)

0 FileHeader
1 FileBody

# Campos de Nivel 2
## Numero de campos Nivel 2

In [87]:
for nivel2 in range(len(root)):
    print(nivel2, len(root[nivel2]))

0 5
1 7

## Nombres de los campos de Nivel 2

In [94]:
for nivel1 in range(len(root)):
    for nivel2 in range(len(root[nivel1])):
        print(nivel1, nivel2, root[nivel1][nivel2].tag)

0 0 MessageID
0 1 MessageType
0 2 Originator
0 3 Recipient
0 4 MessageCreateTime
1 0 TaskID
1 1 FirstOrbitTime
1 2 OrbitPeriod
1 3 PlanCount
1 4 PlanList
1 5 PlanList
1 6 PlanList

# Campos de Nivel 3
## Numero de campos Nivel 3

In [85]:
nivel2 = 1
nivel3 = 4
len(root[nivel2][nivel3])

13

In [59]:
for i in range(len(root[1][4])):
    print(root[1][4][i].tag)

PlanID
SatelliteID
StationID
WorkMode
OrbitID
CameraID
TransStartTime
TransEndTime
IsBreakpoint
ReplayFile
DeleteFile
ImagingCount
ImagingList

In [95]:
for nivel1 in range(len(root)):
    for nivel2 in range(len(root[nivel1])):
        for nivel3 in range(len(root[nivel1][nivel2])):
            print(nivel1, nivel2, nivel3, root[nivel1][nivel2][nivel3].tag)

1 4 0 PlanID
1 4 1 SatelliteID
1 4 2 StationID
1 4 3 WorkMode
1 4 4 OrbitID
1 4 5 CameraID
1 4 6 TransStartTime
1 4 7 TransEndTime
1 4 8 IsBreakpoint
1 4 9 ReplayFile
1 4 10 DeleteFile
1 4 11 ImagingCount
1 4 12 ImagingList
1 5 0 PlanID
1 5 1 SatelliteID
1 5 2 StationID
1 5 3 WorkMode
1 5 4 OrbitID
1 5 5 CameraID
1 5 6 TransStartTime
1 5 7 TransEndTime
1 5 8 IsBreakpoint
1 5 9 ReplayFile
1 5 10 DeleteFile
1 5 11 ImagingCount
1 5 12 ImagingList
1 6 0 PlanID
1 6 1 SatelliteID
1 6 2 StationID
1 6 3 WorkMode
1 6 4 OrbitID
1 6 5 CameraID
1 6 6 TransStartTime
1 6 7 TransEndTime
1 6 8 IsBreakpoint
1 6 9 ReplayFile
1 6 10 DeleteFile
1 6 11 ImagingCount
1 6 12 ImagingList