ref > `https://www.w3schools.com/python/python_mysql_getstarted.asp`

# 1.- Python y MySQL <a id='1.-'></a>

Python se puede utilizar en aplicaciones de bases de datos. Una de las bases de datos más populares es MySQL.

## 1.1 Prueba del conector MySQL <a id='1.1'></a>

Para probar si la instalación fue exitosa, o si ya tiene instalado "MySQL Connector", cree una página de Python con el siguiente contenido:

In [2]:
import mysql.connector

Si el código anterior se ejecutó sin errores, "MySQL Connector" está instalado y listo para usarse.

## 1.2 Crear conexión <a id='1.2'></a>

Comience por crear una conexión a la base de datos. Utilice el nombre de usuario y la contraseña de su base de datos MySQL:

In [14]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password=''
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000000091D3FA0>

# 2.- Crear base de datos <a id='2.-'></a>

## 2.1 Crear una base de datos <a id='2.1'></a>

Para crear una base de datos en MySQL, use la instrucción "CREATE DATABASE":

In [2]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password=''
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE VRSS_Operation_and_Managment_Subsystem")

## 2.2 Comprobar si existe la base de datos <a id='2.2'></a>

Puede verificar si existe una base de datos enumerando todas las bases de datos en su sistema usando la declaración "MOSTRAR BASES DE DATOS":

In [23]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password=''
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

O puede intentar acceder a la base de datos al realizar la conexión:

In [19]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
  #port='3306'
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000000000635B7C0>

# 3.- Crear tabla <a id='3.-'></a>

## 3.1 Crear/Borrar una tabla <a id='3.1'></a>

### Para crear una tabla en MySQL 
Use la instrucción "CREATE TABLE". Asegúrese de definir el nombre de la base de datos cuando cree la conexión

In [3]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()

mycursor.execute('''CREATE TABLE customers (
  name VARCHAR(255), 
  address VARCHAR(255))
''')

Si el código anterior se ejecutó sin errores, ahora ha creado una tabla con éxito.

### Para borrar la tabla en MySQL 

Use la instrucción "DROP TABLE". Asegúrese de definir el nombre de la base de datos cuando cree la conexión

In [17]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()

mycursor.execute("DROP TABLE customers")

## Alterar una tabla

### Para añadir una columna

Si la tabla ya existe, use la palabra clave ALTER TABLE:

Para añadir una columna al final de la tabla

In [19]:
sql = "ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY"

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password='',
  database="test"
)

mycursor = mydb.cursor()

mycursor.execute(sql)

Para Borrar la columna

In [25]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password='',
  database="test"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers DROP COLUMN id")

Para añadirla al principio

In [1]:
sql = "ALTER TABLE `customers` ADD `Id` INT NOT NULL AUTO_INCREMENT FIRST, ADD PRIMARY KEY (`Id`);"

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password='',
  database="test"
)

mycursor = mydb.cursor()

mycursor.execute(sql)

NameError: name 'mysql' is not defined

Para añadirla despues de la columna `nombre`

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password='',
  database="test"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE `customers` ADD `Id` INT NOT NULL AUTO_INCREMENT AFTER `name`, ADD PRIMARY KEY (`Id`);")

Para alterar el nombre de una columna

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password='',
  database="VRSS_Operation_and_Managment_Subsystem"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE `personal_activo` CHANGE `apellido` `apellidos` VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL;")

In [3]:
sql = "ALTER TABLE `test`.`customers` CHANGE `test`.`adress` `test`.`address` VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL;"

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password='',
  database="test"
)

mycursor = mydb.cursor()

mycursor.execute(sql)

ProgrammingError: 1103 (42000): Incorrect table name 'test'

## 3.2 Comprobar si existe la tabla <a id='3.2'></a>

Puede verificar si existe una tabla enumerando todas las tablas en su base de datos con la declaración "SHOW TABLES" (ver [Sección 2.2](#2.2)).

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='Test'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)
('tabla1',)
('tabla2',)

## 3.3 Clave primaria <a id='3.3'></a>

Al crear una tabla, también debe crear una columna con una clave única para cada registro.

Esto se puede hacer definiendo una CLAVE PRINCIPAL.

Usamos la declaración "INT AUTO_INCREMENT PRIMARY KEY" que insertará un número único para cada registro. Comenzando en 1, y aumentando en uno para cada registro.

In [27]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

mycursor.execute('''CREATE TABLE `vrss_operation_and_managment_subsystem`.`personal_activo` (
   `Id` INT(10) NOT NULL AUTO_INCREMENT , 
   `nombre` VARCHAR(255) NOT NULL , 
   `apellido` VARCHAR(255) NOT NULL , 
   `cedula` INT(8) NOT NULL , 
   `correo` VARCHAR(255) NOT NULL , 
   `Fecha de Ingreso` DATE NOT NULL , 
   PRIMARY KEY (`Id`)) ENGINE = InnoDB;
  )''')

In [4]:
sql = '''CREATE TABLE `test`.`customers` (
   `Id` INT(10) NOT NULL AUTO_INCREMENT , 
   `name` VARCHAR(255) NOT NULL , 
   `adress` VARCHAR(255) NOT NULL , 
   PRIMARY KEY (`Id`)) ENGINE = InnoDB;
  )'''

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()

mycursor.execute(sql)

# 4.- Insertar en la tabla <a id='4.-'></a>

## 4.1 Insertar/Borrar registros en la tabla <a id='4.1'></a>

Para llenar o borrar de una tabla en MySQL, use las instrucciones "INSERT INTO" o "DELETE FROM".

In [37]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

sql = '''INSERT INTO `personal_activo` (`Id`, `apellidos`, `nombre`, `cedula`, `telefono`, `correo`, `Fecha de Ingreso`) VALUES 
(NULL, 'Martinez Gonzalez', 'Hector Alonzo', '19008825', '+58 416 6273459', 'hmartinez@abae.gob.ve', '2019-09-02'), 
(NULL, 'Martinez Gonzalez', 'Hector Alonzo', '19008825', '+58 416 6273459', 'hmartinez@abae.gob.ve', '2019-09-02');
'''

mycursor.execute(sql)

mydb.commit()

In [4]:
sql = '''INSERT INTO test.customers (`Id`, `name`, `address`) VALUES 
(NULL, 'nombre1', 'direccion1'), 
(NULL, 'nombre2', 'direccion2');
'''

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql)
mydb.commit()

Para borrar un registro (ver [Sección 8](#8.-)).

In [33]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

sql1 = "DELETE FROM `personal_activo` WHERE `personal_activo`.`Id` = 28;"
sql2 = "DELETE FROM `personal_activo` WHERE `personal_activo`.`Id` = 29;"

mycursor.execute(sql1)
mycursor.execute(sql2)

mydb.commit()

### 4.1.1 Prevenir la inyección de SQL <a id='4.1.1'></a>

Se considera una buena práctica escapar los valores de cualquier consulta, también en declaraciones de eliminación [Sección 4.1](#4.-).

Esto es para evitar inyecciones de SQL, que es una técnica común de piratería web para destruir o hacer un mal uso de su base de datos.

El módulo mysql.connector usa el marcador de posición `%s` para escapar valores en la declaración de eliminación:

In [ ]:
sql = "DELETE FROM `personal_activo` WHERE Id = %s"
adr = ("31", )

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()
mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted!")

# 5.- Seleccionar de una Tabla <a id='5.-'></a>

## 5.1 Seleccionar de una tabla <a id='5.1'></a>

Para seleccionar de una tabla en MySQL, use la instrucción "SELECT":

In [29]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

sql = "SELECT * FROM `personal_activo`"

mycursor.execute(sql)

myresult = mycursor.fetchall()

print(myresult)
# for x in myresult:
#   print(x)

[(1, 'Betancourt Gomez', 'Jorge Luis', 20051859, '+58 414 131 2718', 'jbetancour@abae.gob.ve', datetime.date(2018, 3, 1)), (2, 'Rojas Albarran', 'Rosaura Elena', 20096998, '+58 426 318 3301', 'rrojas@abae.gob.ve', datetime.date(2019, 10, 1)), (3, 'Herrera', 'Giovanni', 24216267, '+58 424 255 6028', 'gherrera@abae.gob.ve', datetime.date(2019, 10, 16)), (4, 'Rivas', 'Jesús Manuel', 19368119, '+58 416 703 4572', 'jmrivas@abae.gob.ve', datetime.date(2019, 10, 16)), (5, 'Duque', 'Emmanuel', 18742620, '+58 414 680 7795', 'eduque@abae.gob.ve', datetime.date(2020, 8, 17)), (6, 'Martinez Gonzalez', 'Hector Alonzo', 19008825, '+58 416 6273459', 'hmartinez@abae.gob.ve', datetime.date(2017, 4, 3))]

## 5.2 Selección de columnas

Para seleccionar solo algunas de las columnas de una tabla, utilice la instrucción "SELECCIONAR" seguida del nombre de la columna:

In [27]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

sql = "SELECT apellidos, cedula FROM `personal_activo`"

mycursor.execute(sql)

myresult = mycursor.fetchall()

#print(myresult)
for x in myresult:
  print(x)

('Betancourt Gomez', 20051859)
('Rojas Albarran', 20096998)
('Herrera', 24216267)
('Rivas', 19368119)
('Duque', 18742620)
('Martinez Gonzalez', 19008825)

## 5.3 Usando el método fetchone()

Si solo está interesado en una fila, puede usar el `fetchone()`método.

El método `fetchone()` devolverá la primera fila del resultado:

In [26]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

sql = "SELECT * FROM `personal_activo`"

mycursor.execute(sql)

myresult = mycursor.fetchone()

print(myresult)

(1, 'Betancourt Gomez', 'Jorge Luis', 20051859, '+58 414 131 2718', 'jbetancour@abae.gob.ve', datetime.date(2018, 3, 1))

# 6.- Dónde <a id='6.-'></a>

## 6.1 Seleccionar con un filtro <a id='6.1'></a>

Al seleccionar registros de una tabla, puede filtrar la selección utilizando la instrucción "WHERE":

In [19]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

sql = "SELECT * FROM `personal_activo` where Id = 2"

mycursor.execute(sql)

myresult = mycursor.fetchall()

print(myresult)

[(2, 'Rojas Albarran', 'Rosaura Elena', 20096998, '+58 426 318 3301', 'rrojas@abae.gob.ve', datetime.date(2019, 10, 1))]

## 6.2 Caracteres comodín <a id='6.2'></a>

También puede seleccionar los registros que comienzan, incluyen o terminan con una letra o frase determinada.

Use el `%`  para representar caracteres comodín:

In [34]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

sql = "SELECT nombre, telefono FROM `personal_activo` WHERE telefono LIKE '%414%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Jorge Luis', '+58 414 131 2718')
('Emmanuel', '+58 414 680 7795')

# 7.- Ordenar por <a id='7.-'></a>

## 7.1 ordenar el resultado <a id='7.1'></a>

Utilice la instrucción ORDER BY para clasificar el resultado en orden ascendente o descendente.

La palabra clave ORDER BY ordena el resultado de forma ascendente de forma predeterminada. Para ordenar el resultado en orden descendente, use la palabra clave DESC.

In [35]:
sql = "SELECT * FROM `personal_activo` ORDER BY nombre"


mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(5, 'Duque', 'Emmanuel', 18742620, '+58 414 680 7795', 'eduque@abae.gob.ve', datetime.date(2020, 8, 17))
(3, 'Herrera', 'Giovanni', 24216267, '+58 424 255 6028', 'gherrera@abae.gob.ve', datetime.date(2019, 10, 16))
(6, 'Martinez Gonzalez', 'Hector Alonzo', 19008825, '+58 416 6273459', 'hmartinez@abae.gob.ve', datetime.date(2017, 4, 3))
(4, 'Rivas', 'Jesús Manuel', 19368119, '+58 416 703 4572', 'jmrivas@abae.gob.ve', datetime.date(2019, 10, 16))
(1, 'Betancourt Gomez', 'Jorge Luis', 20051859, '+58 414 131 2718', 'jbetancour@abae.gob.ve', datetime.date(2018, 3, 1))
(2, 'Rojas Albarran', 'Rosaura Elena', 20096998, '+58 426 318 3301', 'rrojas@abae.gob.ve', datetime.date(2019, 10, 1))

## 7.2 Orden descendente <a id='7.2'></a>

Utilice la palabra clave DESC para ordenar el resultado en orden descendente.

In [36]:
sql = "SELECT * FROM `personal_activo` ORDER BY nombre DESC"


mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(2, 'Rojas Albarran', 'Rosaura Elena', 20096998, '+58 426 318 3301', 'rrojas@abae.gob.ve', datetime.date(2019, 10, 1))
(1, 'Betancourt Gomez', 'Jorge Luis', 20051859, '+58 414 131 2718', 'jbetancour@abae.gob.ve', datetime.date(2018, 3, 1))
(4, 'Rivas', 'Jesús Manuel', 19368119, '+58 416 703 4572', 'jmrivas@abae.gob.ve', datetime.date(2019, 10, 16))
(6, 'Martinez Gonzalez', 'Hector Alonzo', 19008825, '+58 416 6273459', 'hmartinez@abae.gob.ve', datetime.date(2017, 4, 3))
(3, 'Herrera', 'Giovanni', 24216267, '+58 424 255 6028', 'gherrera@abae.gob.ve', datetime.date(2019, 10, 16))
(5, 'Duque', 'Emmanuel', 18742620, '+58 414 680 7795', 'eduque@abae.gob.ve', datetime.date(2020, 8, 17))

# 8.- Eliminación de tablas

## 8.1 Eliminar una tabla

Puede eliminar una tabla existente utilizando la instrucción "DROP TABLE":

In [41]:
sql = "DROP TABLE `test`.`customers`"

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql)

## 8.2 Borrar tabla solo si existe

Si la tabla que desea eliminar ya se eliminó, o por cualquier otra razón no existe, puede usar la palabra clave IF EXISTS para evitar recibir un error.

In [42]:
sql = "DROP TABLE IF EXISTS `test`.`customers`"

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql)

# 9.- Actualización de Tablas

## 9.1 Actualizar tabla

Puede actualizar los registros existentes en una tabla utilizando la instrucción "UPDATE":

In [9]:
sql = "UPDATE `customers` SET `address` = 'direccion-1' WHERE `customers`.`Id` = 1; "

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

### 9.1.1 Prevenir la inyección de SQL

Se considera una buena práctica escapar los valores de cualquier consulta, también en declaraciones de actualización.

Esto es para evitar inyecciones de SQL, que es una técnica común de piratería web para destruir o hacer un mal uso de su base de datos.

El módulo mysql.connector usa el marcador de posición %spara escapar valores en la declaración de eliminación:

In [15]:
sql = "UPDATE `customers` SET `address` = %s WHERE `customers`.`Id` = %s;"
val = ('direccion1', 1) 

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted!")

1 record(s) deleted!

# 10.- Join

## 10.1 Unir dos o mas tablas

In [5]:
create_table = '''CREATE TABLE `test`.`usuarios` (
   `Id` INT(10) NOT NULL AUTO_INCREMENT , 
   `name` VARCHAR(255) NOT NULL , 
   `fav` VARCHAR(255) NULL , 
   PRIMARY KEY (`Id`)) ENGINE = InnoDB;
  )'''

insert_table = '''INSERT INTO `test`.`usuarios` (`Id`, `name`, `fav`) VALUES 
(NULL, 'John', 154), 
(NULL, 'Peter', 154),
(NULL, 'Amy', 155),
(NULL, 'Hannah', ''),
(NULL, 'Michael', '');
'''

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(create_table)

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(insert_table)
mydb.commit()

In [6]:
create_table = '''CREATE TABLE `test`.`productos` (
   `Id` INT(10) NOT NULL , 
   `name` VARCHAR(255) NOT NULL , 
   PRIMARY KEY (`Id`)) ENGINE = InnoDB;
  )'''

insert_table = '''INSERT INTO `test`.`productos` (`Id`, `name`) VALUES 
(154, 'Chocolate Heaven'), 
(155, 'Tasty Lemons'),
(156, 'Vanilla Dreams');
'''

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(create_table)

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(insert_table)
mydb.commit()

Estas dos tablas se pueden combinar utilizando el campo fav de usuarios y el campo Id de productos.

In [7]:
sql = "SELECT \
 usuarios.name AS usuarios, \
 productos.name AS favorito \
 FROM usuarios \
 INNER JOIN productos ON usuarios.fav = productos.Id" 

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql)

myresult = mycursor.fetchall() 
for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')