ref > `https://www.w3schools.com/python/python_mysql_getstarted.asp`

# 1.- Python y MySQL <a id='1.-'></a>

Python se puede utilizar en aplicaciones de bases de datos. Una de las bases de datos más populares es MySQL.

## 1.1 Prueba del conector MySQL <a id='1.1'></a>

Para probar si la instalación fue exitosa, o si ya tiene instalado "MySQL Connector", cree una página de Python con el siguiente contenido:

In [1]:
import mysql.connector

Si el código anterior se ejecutó sin errores, "MySQL Connector" está instalado y listo para usarse.

## 1.2 Crear conexión <a id='1.2'></a>

Comience por crear una conexión a la base de datos. Utilice el nombre de usuario y la contraseña de su base de datos MySQL:

In [10]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password=''
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000000008356B80>

Para mayor facilidad, definamos una funcion de conexion:

In [7]:
def conectar_db_0():
        mydb = mysql.connector.connect(
        host='localhost',
        user='root',
        password=''
    )

In [9]:
print(conectar_db_0())

None

# 2.- Crear base de datos <a id='2.-'></a>

## 2.1 Crear una base de datos <a id='2.1'></a>

Para crear una base de datos en MySQL, use la instrucción "CREATE DATABASE":

In [2]:
sql = "CREATE DATABASE \
  VRSS_Operation_and_Managment_Subsystem"

conectar_db_0()
mycursor = mydb.cursor()
mycursor.execute(sql)

## 2.2 Comprobar si existe la base de datos <a id='2.2'></a>

Puede verificar si existe una base de datos enumerando todas las bases de datos en su sistema usando la declaración "MOSTRAR BASES DE DATOS":

In [11]:
sql = "SHOW DATABASES"

conectar_db_0()
mycursor = mydb.cursor()
mycursor.execute(sql)

for x in mycursor:
    print(x)

('formulario',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('tiendaonline',)
('vrss_operation_and_managment_subsystem',)
('wordpress',)

O puede intentar acceder a la base de datos al realizar la conexión:

In [19]:
mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000000000635B7C0>

# Inyección de sql

En adelante definiremos la siguiente funcion para facilitar las conexiones que usaremos para practica

In [21]:
def on_db(base_datos, sql):
    mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database=base_datos
    )

    mycursor = mydb.cursor()
    mycursor.execute(sql)

    if sql == "SHOW TABLES":
        s = []
        for x in mycursor:
            s.append(x[0])
        return s

    if "INSERT INTO" in sql or "DELETE FROM" in sql:
        mydb.commit()
    
    if "SELECT" in sql:
        myresult = mycursor.fetchall()
        return myresult

    if "UPDATE" in sql:
        mydb.commit()
        print(mycursor.rowcount, "record(s) affected")

# 3.- Crear tabla <a id='3.-'></a>

## 3.1 Crear/Borrar una tabla <a id='3.1'></a>

### Para crear una tabla en MySQL 
Use la instrucción "CREATE TABLE". Asegúrese de definir el nombre de la base de datos cuando cree la conexión

In [36]:
sql = "CREATE TABLE customers (\
  name VARCHAR(255), \
  address VARCHAR(255)\
  )"
on_db('test', sql)

Si el código anterior se ejecutó sin errores, ahora ha creado una tabla con éxito.

### Para borrar la tabla en MySQL 

Use la instrucción "DROP TABLE". Asegúrese de definir el nombre de la base de datos cuando cree la conexión

In [34]:
sql = "DROP TABLE customers"
on_db('test', sql)

Si la tabla que desea eliminar ya se eliminó, o por cualquier otra razón no existe, puede usar la palabra clave IF EXISTS para evitar recibir un error.

In [48]:
sql = "DROP TABLE IF EXISTS customers"
on_db('test', sql)

## Alterar una tabla

### Para añadir una columna

Si la tabla ya existe, use la palabra clave ALTER TABLE:

Para añadir una columna al final de la tabla

In [37]:
sql = "ALTER TABLE customers ADD COLUMN \
  id INT AUTO_INCREMENT PRIMARY KEY"
on_db('test', sql)

Para Borrar la columna

In [42]:
sql = "ALTER TABLE customers DROP COLUMN id"
on_db('test', sql)

Para añadirla al principio

In [39]:
sql = "ALTER TABLE `customers` ADD \
  `Id` INT NOT NULL AUTO_INCREMENT FIRST, \
    ADD PRIMARY KEY (`Id`);"
on_db('test', sql)

Para añadirla despues de la columna `name`

In [41]:
sql = "ALTER TABLE `customers` ADD \
  `Id` INT NOT NULL AUTO_INCREMENT AFTER `name`, \
    ADD PRIMARY KEY (`Id`);"
on_db('test', sql)

Para alterar el nombre de una columna

In [44]:
sql = "ALTER TABLE `customers` CHANGE \
    `address1` `address` VARCHAR(255) CHARACTER SET \
    latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;"
on_db('test', sql)

## 3.2 Comprobar si existe la tabla <a id='3.2'></a>

Puede verificar si existe una tabla enumerando todas las tablas en su base de datos con la declaración "SHOW TABLES" (ver [Sección 2.2](#2.2)).

In [45]:
sql = "SHOW TABLES"
on_db('test', sql)

['customers', 'tabla1', 'tabla2']

## 3.3 Clave primaria <a id='3.3'></a>

Al crear una tabla, también debe crear una columna con una clave única para cada registro.

Esto se puede hacer definiendo una CLAVE PRINCIPAL.

Usamos la declaración "INT AUTO_INCREMENT PRIMARY KEY" que insertará un número único para cada registro. Comenzando en 1, y aumentando en uno para cada registro.

In [49]:
sql = "CREATE TABLE `test`.`customers` (\
  `Id` INT(10) NOT NULL AUTO_INCREMENT , \
  `name` VARCHAR(255) NOT NULL , \
  `address` VARCHAR(255) NOT NULL , \
  PRIMARY KEY (`Id`)) ENGINE = InnoDB;\
  )"
on_db('test', sql)

# 4.- Insertar en la tabla <a id='4.-'></a>

## 4.1 Insertar/Borrar registros en la tabla <a id='4.1'></a>

Para llenar o borrar de una tabla en MySQL, use las instrucciones "INSERT INTO" o "DELETE FROM".

In [53]:
sql = "INSERT INTO test.customers \
  (`Id`, `name`, `address`) VALUES \
  (NULL, 'nombre1', 'direccion1'), \
  (NULL, 'nombre2', 'direccion2');"
on_db('test', sql)

Para borrar un registro (ver [Sección 8](#8.-)).

In [51]:
sql1 = "DELETE FROM `customers` WHERE `customers`.`Id` = 1;"
sql2 = "DELETE FROM `customers` WHERE `customers`.`Id` = 2;"

on_db('test', sql1)
on_db('test', sql2)

### 4.1.1 Prevenir la inyección de SQL <a id='4.1.1'></a>

Se considera una buena práctica escapar los valores de cualquier consulta, también en declaraciones de eliminación [Sección 4.1](#4.-).

Esto es para evitar inyecciones de SQL, que es una técnica común de piratería web para destruir o hacer un mal uso de su base de datos.

El módulo mysql.connector usa el marcador de posición `%s` para escapar valores en la declaración de eliminación:

In [85]:
sql = "DELETE FROM `customers` WHERE Id = %s"
adr = ("13", )

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted!")

1 record(s) deleted!

# 5.- Seleccionar de una Tabla <a id='5.-'></a>

## 5.1 Seleccionar de una tabla <a id='5.1'></a>

Para seleccionar de una tabla en MySQL, use la instrucción "SELECT":

In [54]:
sql = "SELECT * FROM customers"
on_db('test', sql)

[(3, 'nombre1', 'direccion1'), (4, 'nombre2', 'direccion2')]

## 5.2 Selección de columnas

Para seleccionar solo algunas de las columnas de una tabla, utilice la instrucción "SELECCIONAR" seguida del nombre de la columna:

In [55]:
sql = "SELECT name, Id FROM customers"
on_db('test', sql)

[('nombre1', 3), ('nombre2', 4)]

## 5.3 Usando el método fetchone()

Si solo está interesado en una fila, puede usar el método `fetchone()`.

El método `fetchone()` devolverá la primera fila del resultado:

In [26]:
sql = "SELECT * FROM `personal_activo`"

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='VRSS_Operation_and_Managment_Subsystem'
)

mycursor = mydb.cursor()

mycursor.execute(sql)

myresult = mycursor.fetchone()

print(myresult)

(1, 'Betancourt Gomez', 'Jorge Luis', 20051859, '+58 414 131 2718', 'jbetancour@abae.gob.ve', datetime.date(2018, 3, 1))

# 6.- Dónde <a id='6.-'></a>

## 6.1 Seleccionar con un filtro <a id='6.1'></a>

Al seleccionar registros de una tabla, puede filtrar la selección utilizando la instrucción "WHERE":

In [60]:
sql = "SELECT * FROM customers WHERE Id = 4"
on_db('test', sql)

[(4, 'nombre2', 'direccion2')]

## 6.2 Caracteres comodín <a id='6.2'></a>

También puede seleccionar los registros que comienzan, incluyen o terminan con una letra o frase determinada.

Use el `%`  para representar caracteres comodín:

In [17]:
sql = "SELECT name, address FROM \
  `customers` WHERE Id LIKE '%5%'"
on_db('test', sql)

[('nombre1', 'direccion1')]

# 7.- Ordenar por <a id='7.-'></a>

## 7.1 ordenar el resultado <a id='7.1'></a>

Utilice la instrucción ORDER BY para clasificar el resultado en orden ascendente o descendente.

La palabra clave ORDER BY ordena el resultado de forma ascendente de forma predeterminada. Para ordenar el resultado en orden descendente, use la palabra clave DESC.

In [61]:
sql = "SELECT * FROM `customers` ORDER BY name"
on_db('test', sql)

[(3, 'nombre1', 'direccion1'), (4, 'nombre2', 'direccion2')]

## 7.2 Orden descendente <a id='7.2'></a>

Utilice la palabra clave DESC para ordenar el resultado en orden descendente.

In [62]:
sql = "SELECT * FROM `customers` ORDER BY name DESC"
on_db('test', sql)

[(4, 'nombre2', 'direccion2'), (3, 'nombre1', 'direccion1')]

# 8.- Actualización de Tablas

## 8.1 Actualizar tabla

Puede actualizar los registros existentes en una tabla utilizando la instrucción "UPDATE":

In [63]:
sql = "UPDATE `customers` SET \
    `address` = 'direccion-1' WHERE `customers`.`Id` = 3; "
on_db('test', sql)

1 record(s) affected

### 8.1.1 Prevenir la inyección de SQL

Se considera una buena práctica escapar los valores de cualquier consulta, también en declaraciones de actualización.

Esto es para evitar inyecciones de SQL, que es una técnica común de piratería web para destruir o hacer un mal uso de su base de datos.

El módulo mysql.connector usa el marcador de posición %spara escapar valores en la declaración de eliminación:

In [15]:
sql = "UPDATE `customers` SET `address` = %s WHERE `customers`.`Id` = %s;"
val = ('direccion1', 1) 

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='',
  database='test'
)

mycursor = mydb.cursor()
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted!")

1 record(s) deleted!

# 9.- Límites

## 9.1 Limitar el resultado

Puede limitar el número de registros devueltos por la consulta mediante la instrucción "LIMIT":

In [64]:
sql = "SELECT * FROM customers LIMIT 1"
on_db('test', sql)

[(3, 'nombre1', 'direccion-1')]

## 9.2 Empezar desde otra posición

Si desea devolver cinco registros, a partir del tercer registro, puede utilizar la palabra clave "OFFSET":

In [65]:
sql = "SELECT * FROM customers LIMIT 1 OFFSET 1"
on_db('test', sql)

[(4, 'nombre2', 'direccion2')]

# 10.- Join

## 10.1 Unir dos o mas tablas

In [66]:
create_table = "CREATE TABLE `test`.`usuarios` (\
   `Id` INT(10) NOT NULL AUTO_INCREMENT , \
   `name` VARCHAR(255) NOT NULL , \
   `fav` VARCHAR(255) NULL , \
   PRIMARY KEY (`Id`)) ENGINE = InnoDB;\
  )"

insert_table = "INSERT INTO \
  `test`.`usuarios` (`Id`, `name`, `fav`) VALUES \
  (NULL, 'John', 154), \
  (NULL, 'Peter', 154), \
  (NULL, 'Amy', 155), \
  (NULL, 'Hannah', ''), \
  (NULL, 'Michael', '');"

on_db('test', create_table)
on_db('test', insert_table)

In [67]:
create_table = "CREATE TABLE `test`.`productos` (\
   `Id` INT(10) NOT NULL , \
   `name` VARCHAR(255) NOT NULL , \
   PRIMARY KEY (`Id`)) ENGINE = InnoDB;\
  )"

insert_table = "INSERT INTO `test`.`productos` (`Id`, `name`) VALUES \
  (154, 'Chocolate Heaven'), \
  (155, 'Tasty Lemons'), \
  (156, 'Vanilla Dreams');"

on_db('test', create_table)
on_db('test', insert_table)

Estas dos tablas se pueden combinar utilizando el campo `fav` de usuarios y el campo `Id` de productos.

In [68]:
sql = "SELECT \
 usuarios.name AS usuarios, \
 productos.name AS favorito \
 FROM usuarios \
 INNER JOIN productos ON usuarios.fav = productos.Id" 

on_db('test', sql)

[('John', 'Chocolate Heaven'),
 ('Peter', 'Chocolate Heaven'),
 ('Amy', 'Tasty Lemons')]